@import 'variables';

.creator {
  border-bottom: 1px solid $mid-gray;
  padding-bottom: 2rem;
  padding-top: 1rem;

  .creator-works {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: $grid-gap;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
