@import 'variables';

.love-this {
  background-color: $light-gray;
  border-radius: $border-radius;
  color: $brand-purple;
  font-size: 1rem;
  padding: .5rem 1rem;

  &::before {
    content: '🖤';
    display: inline-block;
  }

  &.loved {
    &::before {
      animation: 1s linear bounce;
      content: '❤️';
    }
  }

  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

@keyframes bounce {
  0% { transform: translateY(0%); }
  25% { transform: translateY(-25%); }
  50% { transform: translateY(0%); }
  75% { transform: translateY(-25%); }
  0% { transform: translateY(0%); }
}
